:root{
    --main-radius:5px;
    --main-padding:5px;
}

body{
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.5fr 0.2fr;
    grid-gap:5px ;
    grid-template-areas: 
                    "nav nav nav nav"
                    "aside main main main"
                    "aside content1 content2 content3"
                    "footer footer footer footer" ;
}

nav{
    background-color: rgba(140, 115, 90, 1.0);
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    grid-area: nav;
}

main{
    background-color: rgba(140, 115, 90, 1.0);
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    grid-area: main;
}

aside{
    background-color: rgba(140, 115, 90, 1.0);
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    grid-area: aside;
}

#content1{
    background-color: rgba(140, 115, 90, 1.0);
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    grid-area: content1;
}

#content2{
    background-color: rgba(140, 115, 90, 1.0);
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    grid-area: content2;
}

#content3{
    background-color: rgba(140, 115, 90, 1.0);
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    grid-area: content3;
}

footer{
    background-color: rgba(140, 115, 90, 1.0);
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    grid-area: footer;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.menu-items{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 10px;

}